# Phishing Campaign Results

| Team            | Email open rate | Email click-through rate | Phishing success rate |
| :-------------- | :-------------- | :----------------------- | :-------------------- |
| IT              | 80%             | 2%                       | 0%                    |
| HR              | 100%            | 85%                      | 75%                   |
| Card Services   | 60%             | 50%                      | 10%                   |
| Reception       | 40%             | 10%                      | 0%                    |
| Engineering     | 70%             | 4%                       | 1%                    |
| Marketing       | 65%             | 40%                      | 38%                   |
| R&D             | 50%             | 5%                       | 2%                    |
| **Overall average** | **66%** | **28%** | **18%** |
